masuria = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/masuria"
  content_version = 1 
}
heroes = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/heroes"
  content_version = 1 
}
terratowns_endpoint="https://terratowns.cloud/api"
